{{#each data}}
    <h1 class="py-3">{{name}}</h1>
    <div>
      <a href="#" class="text-decoration-none" onclick="loadData('aboutus/{{id}}', 'details-template', 'content')">
        <img src="{{thumbpath}}" alt="{{name}}" class="float-start rounded-4 me-3">
        <p class="text-black-50">{{{summary}}}</p>
      </a>
      
      <a href="#aboutus/{{id}}" class="btn btn-link readmore ps-0" onclick="loadDetails('aboutus/{{id}}', 'details-template', 'content')">Read more</a>
    </div>
    {{/each}}